---
layout: default
title: Blog
---
{% if paginator.posts.size > 0 %}
	{% for post in paginator.posts %}
		{% cycle 'add rows': '<div class="row">', nil, nil %}
			<div class="col-sm-12 col-md-4">{{ post | gallery_preview }}</div>
		{% cycle 'close rows': nil, nil, '</div>' %}
	{% endfor %}
			{% cycle 'close rows': nil, '</div>', '</div>' %}
{% endif %}
<div class="row">
	<div class="col-sm-12">
		<div class="pagination">
			{% if paginator.next_page %}
			<a class="next" href="{{paginator.next_page_path}}">&larr; Previous</a>
			{% endif %}

			{% if paginator.previous_page %}
			<a class="prev" href="{{paginator.previous_page_path}}">Next &rarr;</a>
			{% endif %}
		</div>
	</div>
</div>
