// Customize the colors of Octoflat Here

$accent3-bg-color:   #F1F1F1;

$primary-color:      #333; // Jumbotron, Horizontal Rules, Headings
$secondary-color:    #0088cc; // Tags, Links, Main Heading, Quote Border
$tertiary-color:     #005580; // Hover-over color, Active Page color
$accent-color1:      $accent3-bg-color; // Hover-over background color for tags
//$accent-color1:      #23defe; // Hover-over background color for tags
$accent-color2:      #34495E; // Sub-headings, Date Stamp
$accent-color3:      $accent3-bg-color; // Navbar Text, Tag text
$bg-color:           $accent3-bg-color; // Background
$navbar-color:       #5bc2f5; // Navbar
$code-bg-color:      #2C3E50; // Code background
$quote-color:        #333; // Quote Color
$text-color:         #5a5e5f; // Body Text
//$footer-color:       #7F8C8D; // Footer
$footer-color:       #5a5e5f; // Footer

