$off_white:                         #F1F1F1;
$light_blue:                        #0088cc;
$dark_blue:                         #005580;
$grey:                              #5a5e5f;
$black:                             #333;
$slate_blue:                        #2C3E50;

// Jumbotron, Horizontal Rules, Headings
$primary-color:                     $black;
// Tags, Links, Main Heading, Quote Border
$secondary-color:                   $light_blue;
// Hover-over color, Active Page color
$tertiary-color:                    $dark_blue;
// Background color for tags
$accent-color1:                     $off_white;
// Sub-headings, Date Stamp
$accent-color2:                     #34495E;
// Tag text
$accent-color3:                     $off_white;
// Background
$bg-color:                          $off_white;
// Code background
$code-bg-color:                     $slate_blue;
// Quote Color
$quote-color:                       $black;
// Body Text
$text-color:                        $grey;
// Footer
$footer-color:                      $grey;

// Navbar color
$navbar-color:                      $slate_blue;
// Toggle on/toggle off colors for the nav bar buttons
$header-button-toggled-on:          $off_white;
$header-button-toggled-off:         $navbar-color;
// Button hover over logic
$button-text-color:                 $header-button-toggled-on;
$button-active-text-color:          $header-button-toggled-off;
$button-background-color:           $header-button-toggled-off;
$button-active-background-color:    $header-button-toggled-on;

