.navbar {
	margin-bottom: 0px;
	border-width: 0px;
}

.navbar-inner {
	border-radius: 0px;
}

.navbar-inverse {
	background-color: $navbar-color;
}

.navbar-inverse .navbar-toggle:hover, 
.navbar-inverse .navbar-toggle:focus {
	background-color: $button-active-background-color;
}

.navbar-inverse .navbar-toggle .icon-bar {
	background-color: $button-active-text-color;
}

@media (max-width: 979px) {
	.navbar-inverse .nav-collapse .nav > li > a:hover,
	.navbar-inverse .nav-collapse .nav > li > a:focus,
	.navbar-inverse .nav-collapse .dropdown-menu a:hover,
	.navbar-inverse .nav-collapse .dropdown-menu a:focus {
		color: $off_white;
	}
}
