$background_image: '../images/tokyo-background.jpg';

.jumbotron {
	font-weight: normal;
	background-color: $off_white;
	padding-left: 0px;
	text-align: left;
}

.container .jumbotron {
	padding-left: 0px;
}

#misapplied-jumbotron {
	background: url($background_image);
	font-size: 60px;
	margin-bottom: 20px;
	overflow-x: hidden;
}

#misapplied-jumbotron .container {
	color: $off_white;
	text-align: center;
}

#misapplied-jumbotron .tagline {
	color: $off_white;
	text-align: center;
}

@media (max-width: 767px) {
	.jumbotron {
		font-size: 40px;
	}

	#misapplied-jumbotron {
		margin-left: -20px;
		margin-right: -20px;
	}

	#misapplied-jumbotron .container {
		font-size: 90%;
	}

	#misapplied-jumbotron .tagline {
		font-size: 22px;
	}
}

@media (min-width: 768px) {
	footer {
		text-align: center;
	}
}

.mathjax-block-wrapper {
	overflow-x: auto;
}

#categories .category {
	padding-top: .25em;
	padding-bottom: .25em;
}

@media (max-width: 768px) {
	#categories h1 {
		font-size: 24px;
	}
}

@media (max-width: 979px) {
	.navbar-inverse .nav-collapse .nav > li > a:hover,
	.navbar-inverse .nav-collapse .nav > li > a:focus,
	.navbar-inverse .nav-collapse .dropdown-menu a:hover,
	.navbar-inverse .nav-collapse .dropdown-menu a:focus {
		color: $off_white;
	}
}
