$background_image: '../images/tokyo-background.jpg';

.jumbotron {
	font-weight: normal;
	background-color: $off_white;
	padding-left: 0px;
	text-align: left;
}

.container .jumbotron {
	padding-left: 0px;
}

.navbar {
	margin-bottom: 0px;
	border-width: 0px;
}

.navbar-inner {
	border-radius: 0px;
}

.navbar-inverse {
	background-color: $navbar-color;
}

.navbar-inverse .navbar-toggle:hover, 
.navbar-inverse .navbar-toggle:focus {
	background-color: $button-active-background-color;
}

.navbar-inverse .navbar-toggle .icon-bar {
	background-color: $button-active-text-color;
}

@media (max-width: 979px) {
	.navbar-inverse .nav-collapse .nav > li > a:hover,
	.navbar-inverse .nav-collapse .nav > li > a:focus,
	.navbar-inverse .nav-collapse .dropdown-menu a:hover,
	.navbar-inverse .nav-collapse .dropdown-menu a:focus {
		color: $off_white;
	}
}

#misapplied-jumbotron {
	background: url($background_image);
	font-size: 60px;
	margin-bottom: 20px;
	overflow-x: hidden;
	line-height: 80px;
}

#misapplied-jumbotron .container {
	color: $off_white;
	text-align: center;
}

#misapplied-jumbotron .tagline {
	color: $off_white;
	text-align: center;
}

@media (max-width: 767px) {
	.jumbotron {
		font-size: 40px;
	}

	#misapplied-jumbotron .container {
		font-size: 90%;
	}

	#misapplied-jumbotron .tagline {
		font-size: 22px;
	}
}

@media (min-width: 768px) {
	footer {
		text-align: center;
	}
}

.mathjax-block-wrapper {
	overflow-x: auto;
}

#categories .category {
	padding-top: .25em;
	padding-bottom: .25em;
}

@media (max-width: 768px) {
	#categories h1 {
		font-size: 24px;
	}
}

img {
	width: auto\9;
	height: auto;
	max-width: 100%;
	vertical-align: middle;
	border: 0;
}

.btn.btn-default.dropdown-toggle {
	// background-color: #4e6d8d;
	color: $bg-color;
	background-color: $navbar-color;
}

.btn.btn-default.dropdown-toggle:active {
	color: $bg-color;
}

.panel-body.vis-panel-body {
	background-color: $bg-color;
}

.panel-heading.vis-panel-heading {
	background-color: $bg-color;
}
