@import "navbar";
@import "jumbotron";

@media (min-width: 768px) {
	footer {
		text-align: center;
	}
}

.mathjax-block-wrapper {
	overflow-x: auto;
}

#categories .category {
	padding-top: .25em;
	padding-bottom: .25em;
}

@media (max-width: 768px) {
	#categories h1 {
		font-size: 24px;
	}
}

img {
	width: auto\9;
	height: auto;
	max-width: 100%;
	vertical-align: middle;
	border: 0;
}

.btn.btn-default.dropdown-toggle {
	color: $bg-color;
	background-color: $navbar-color;
}

.btn.btn-default.dropdown-toggle:active {
	color: $bg-color;
}

.panel-body.vis-panel-body {
	background-color: $bg-color;
}

.panel-heading.vis-panel-heading {
	background-color: $bg-color;
}

.background-color-caret {
	border-top-color: $bg-color !important;
	border-bottom-color: $bg-color !important;
}
